<footer>
  <div class="logo"><img src="/img/logo/petitandfunfooter.png" alt="" /></div>
  <div>
    <ul>
      <li>
        <a href="#"><h5>Nosotros</h5></a>
      </li>

      <!--Futuro opciones desplegables (se necesitas funcionalidad en js)-->
      <li>
        <h5>Dudas</h5>
        <a href="#"><p>Zona de entrega</p></a>
        <a href="#"><p>Cambio y devoluciones</p></a>
        <a href="#"><p>Formas de pago</p></a>
      </li>

      <!--Futuro opciones desplegables (se necesitas funcionalidad en js)-->
      <li>
        <h5>Atención al Cliente</h5>
        <p>info@petitandfun.com.ar</p>
      </li>

      <!--Futuro opciones desplegables (se necesitas funcionalidad en js)-->
      <li>
        <h5>Institucional</h5>
        <a href="#"><p>Política de privacidad</p>
        <a href="#"><p>Términos y condiciones</p>
      </li>

      <li>
        <h5>Contacto</h5>
      </li>

      <div class="iconos-redes">
        <i id="facebook" class="fa-brands fa-facebook-square"></i>
        <i id="whatsapp" class="fa-brands fa-whatsapp"></i>
        <i id="instagram" class="fa-brands fa-instagram-square"></i>
      </div>

      <div class="iconos-pago">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-amex"></i>
      </div>
    </ul>
  </div>
</footer>