<footer>

  <div class="logo-footer">
    <img src="/img/logo/logo-PF-tipografico.svg" alt="" />
  </div>

  <div class="nosotros">
    <li>
      <a href="#"><h5>Nosotros</h5></a>
    </li>
  </div>

  <!--Futuro opciones desplegables (se necesita funcionalidad en js)-->
  <div class="dudas">
    <li>
      <h5>Dudas</h5>
      <a href="#"><p>Zona de entrega</p></a>
      <a href="#"><p>Cambio y devoluciones</p></a>
      <a href="#"><p>Formas de pago</p></a>
    </li>
  </div>

  <!--Futuro opciones desplegables (se necesita funcionalidad en js)-->
  <div class="at-cliente">
    <li>
      <h5>Atención al Cliente</h5>
      <p>info@petitandfun.com.ar</p>
    </li>
  </div>

  <!--Futuro opciones desplegables (se necesita funcionalidad en js)-->
  <div class="institucional">
    <li>
      <h5>Institucional</h5>
      <a href="#"><p>Política de privacidad</p></a>
      <a href="#"><p>Términos y condiciones</p></a>
    </li>
  </div>

  <div class="contacto">
    <li>
      <h5>Contacto</h5>
    </li>
  </div>

  <div class="iconos-redes">
    <a href="#"><i id="facebook" class="fa-brands fa-facebook-square"></i></a>
    <a href="#"><i id="whatsapp" class="fa-brands fa-whatsapp"></i></a>
    <a href="#"><i id="instagram" class="fa-brands fa-instagram-square"></i></a>
  </div>

  <div class="iconos-pago">
    <i class="fa-brands fa-cc-visa"></i>
    <i class="fa-brands fa-cc-mastercard"></i>
    <i class="fa-brands fa-cc-amex"></i>
  </div>


</footer>