<header>
  <article class="topHeader">
    <div>
      <i class="fa-solid fa-phone"></i>
      <p>011-155829155</p>
    </div>
    <div class="envios">
      <i class="fa-solid fa-truck-fast"></i>
      <p><a>Envíos en el día en CABA y GBA</a></p>
    </div>
    <div>
      <i class="fas fa-envelope"></i>
      <p>contactanos</p></div>
  </article>
  <article class="centerHeader">
    <div id="menu"><i class="fa-solid fa-bars"></i></div>
    <div id="logo"><img src="/img/logo/paf-logo.png" /></div>
    <form>
      <input type="search" placeholder="Buscar productos, marcas y mas..." />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    
    <div id="usuario">
      <a href="/login">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>

          <span>Ingreso</span>
      </a>
          <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
      
    </div>
  </article>
  <article class="bottomHeader">


    <ul>
      <li>
        <a>Perros</a>
      </li>
      <li>
        <a>Gatos</a>
      </li>
      <li>
        <a>Aves</a>
      </li>
      <li>
        <a>Peces</a>
      </li>
      <li>
        <a>Promociones</a>
      </li>
      <li>
        <a>Sucursales</a>
      </li>
    </ul>
  </article>
</header>
