<header>
  <article class="topHeader">
    <div>
      <i class="fa-solid fa-phone"></i>
      <p>011-155829155</p>
    </div>
    <div><p>contactanos</p></div>
  </article>
  <article class="centerHeader">
    <div id="menu"><i class="fa-solid fa-bars"></i></div>
    <div id="logo"><img src="/img/logo/paf-logo.png" /></div>
    <div id="usuario">
      <a href="/login"><i class="fa-solid fa-user"></i></a
      ><i class="fa-solid fa-cart-shopping"></i>
    </div>
  </article>
  <article class="bottomHeader">
    <form>
      <input type="search" placeholder="Buscar productos, marcas y mas..." />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <ul>
      <li>
        <a><p>Perros</p></a>
      </li>
      <li>
        <a><p>Gatos</p></a>
      </li>
      <li>
        <a><p>Aves</p></a>
      </li>
      <li>
        <a><p>Peces</p></a>
      </li>
      <li>
        <a><p>Promociones</p></a>
      </li>
      <li>
        <a><p>Sucursales</p></a>
      </li>
    </ul>
  </article>
</header>
