<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <div class="detalleproducto">
                    <h2>PRODUCTO AGREGADO CORRECTAMENTE</h2>
                </div>
                <a href="/products/<%=section%>">Volver </a>

            </main>

            <%- include('../partials/footer.ejs')%>
    </body>

</html>