* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}

/*Mariano*! padding para todos los h*/
h1 {
  font-size: 1.5rem;
}

h2, h3, h4 {
  color: purple;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}


h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  height: 40px;
  margin: 5px;
  padding: 8px;
  width: 210px;
}

header {
  background-color: #8c52ff;
  width: 100vw;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: #ffffff;
}

/*------Clases del Header-----------*/
.topHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
}

.topHeader div {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.topHeader p {
  margin-left: 4%;
}

.centerHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 51px;
  justify-content: space-around;
  padding: 0.5%;
}

.centerHeader div#menu {
  margin: auto;
  width: 10%;
}

.centerHeader div#menu i {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.centerHeader div#logo {
  display: flex;
  justify-content: center;
  width: 30%;
}

.centerHeader div#usuario {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.centerHeader img {
  max-height: 100%;
  max-width: 100%;
}

.bottomHeader {
  background-color: #4dbbd4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  padding: 0.5%;
  position: relative;
}

.bottomHeader form {
  display: flex;
  margin: auto;
  padding-bottom: 1%;
  width: 70%;
}

.bottomHeader button {
  background-color: rgb(141, 74, 204);
  border: none;
}

.bottomHeader button :hover { /* ¿Acá no sería así? --->  .bottomHeader button:hover {}  Luca S. */
  cursor: pointer;
}

.bottomHeader form input {
  border-radius: 10px;
  color: black;
  width: 90%;
}

.bottomHeader ul {
  display: none;
  list-style: none;
}

.bottomHeader li {
  color: white;
  display: inline-flex;
  font-weight: bold;
  padding: 0.5%;
}

.fa-magnifying-glass:before,
.fa-search:before {
  color: white;
  content: "\f002";
}

/*---------------------*/

/* seccion principal */

.carrusel {
  align-items: center;
  background-color: #ebebeb;
  border: solid black 2px;
  display: flex;
  height: 40vh;
  justify-content: center;
  margin: 10px;
}

.carrusel h2 {
  color: black;
}

.productosDestacados {
  align-items: center;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2.productosDestacados {
  color: black;
  font-size: 16px;
  justify-content: left;
  margin-bottom: 20px;
  padding: 5px;
}

.productos {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  width: 70%;
}

.productos h3 {
  color: black;
}

.productos img {
  width: 100%;
}

.productos p {
  color: black;
}

/* ------- footer -----------*/

footer {
  background-color: #4dbbd4;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

footer ul {
  padding: 0%;
}

footer img {
  width: 100%;
}

footer div li {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0px;
}


footer a {
  text-decoration: none;
}

footer li p{
  margin: 0%;
  padding: 5px;
  text-align: center;
}

.iconos-pago {
  color:black;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-top: 30px;
}

.iconos-redes {
  color:black;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

#whatsapp {
  background-color: green;
  border-radius: 100%;
  color:white;
  font-size: 3rem;
  padding: 7px;
}

#facebook {
  background-color: rgb(53, 53, 255);
  border-radius: 20%;
  color:white;
  font-size: 1.8rem;
  height: 30px;
  padding: 5px;
  width: 30px;
}

#instagram {
  background-color: rgb(111, 11, 204);
  border-radius: 20%;
  color:white;
  font-size: 1.8rem;
  height: 30px;
  padding: 5px;
  width: 30px;
}


/*-------register-------*/

.register {
  background-color: #ebebeb;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.register h2 {
  color: black;
}

.register div {
  margin-top: 5px;
}

.register input {
  color: rgb(111, 11, 204);
  width: 50vw;
}

.register button {
  color: rgb(111, 11, 204);
  font-weight: 900;
  transition: 650ms;
}

.register button:hover {
  background-color: rgb(111, 11, 204);
  border: none;
  color: white;
  font-weight: 900;
}

.linkto {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  max-width: 400px;
}

.linkto a {
  margin-right: 15px;
  text-decoration: none;
}

/*!Mariano
Seccion detalle producto */


div.agregaralcarrito {
    padding: 5px;
    width: 50%;
}

div.cantidaddeproducto {
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

div.cantidaddeproducto input {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(107 102 102);
    border-image: initial;
    height: 41px;
    padding: 0px 5px;
    text-align: center;
    width: 35px;
}

div form input.sumaryrestarproductoplus {
    background-color: rgb(204, 204, 220);
    border-color: rgb(107 102 102);
    border-radius: 2px 14px 14px 1px;
    color: #7a7ae6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    height: 41px
    padding: 6px 12px 9px;
}

div form input.sumaryrestarproductominus {
    background-color: rgb(204, 204, 220);
    border-color: rgb(107 102 102);
    border-radius: 14px 2px 2px 14px;
    color: #7a7ae6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    height: 41px;
    padding: 6px 12px 9px;
}

div.pesoproducto {
  display: flex;
  padding: 20px 0px;
  text-align: left;
}

div a.botonpesoproducto {
  background-color: #c36cac;
  border-radius: 20px;
  border: 1px solid #c36cac;
  color: #ffffff;
  margin: 0px 36px 0px 0px;
  padding: 10px;
  text-decoration: none;
}


div a.botonpesoproducto:hover {
  background-color: rgb(84, 108, 247);
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
  width: 180px;
}

div.ordencarrito {
  align-items: center;
  display: flex;
}

div.precioystock {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

div p.precio {
  width: 50%;
}

div p.stock {
  display: inline-block;
  width: 50%;  
}

h2.titulodescripcionproducto {
  margin: 0 0 10px 0;
  padding: 0;
}

main article.imagenproducto img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 25px;
}

main article.resumenproducto {
  padding: 25px;
  width: 100%;
}

main h1.tituloresumenproducto {
  color: #666666;
  padding: 5px;
}

main div.descripcionproducto {
  padding: 25px;
  width: 100%;
}

main article.detalleproductos {
  display: flex;
  flex-wrap: wrap;
}

/*!Mariano: carrito de compras*/

table {
  width: 100%;
}

table tr.headcarrito {
  background-color: #e0dcdc;
}

table th, table td {
  align-items: center;
  text-align: center;
}

td.imgcarritoproducto {
  display: flex;
  justify-content: center;
}

/*!Mariano: alta, baja y modificacion producto*/

h1 {
  color: #4dbbd4;
}

form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

form div.formimagenabmproducto input {
  margin: 0;
  padding: 0;
}

form div.formimagenabmproducto img {
  max-width: 438px;
  min-width: 200px;
  width: 100%;
}

form div.detailformabmproducto div {
  margin: 10px 0;
  width: 100%;
}

div.detailformabmproducto input, div.detailformabmproducto select, div.detailformabmproducto textarea {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(217, 217, 217);
  padding: 5px 5px;
  text-align: center;
  width: 100%;
}

form div input::placeholder, div textarea::placeholder {
  color:#121212;
}

form div select {
  display: block;
}

form div.formbuttonsabmproducto {
  display: flex;
  flex-wrap: wrap;
}

form div.formbuttonsabmproducto div {
  width: 100%;
}

form div.buttonabmproducto input {
  background-color: #8c52ff;
}

@media (min-width: 481px) {
  .bottomHeader ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .centerHeader #menu {
    display: none;
  }

  .productos {
    width: 40%;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

@media (min-width: 769px) {
  .productos {
    width: 21%;
  }

  /*Mariano*/
  main article.imagenproducto {
    width: 40%;
  }

  /*Mariano*/
  main article.resumenproducto {
    padding: 25px 25px;
    width: 50%;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

form div.formbuttonsabmproducto div {
  width: 30% ;
}

@media (min-width: 1300px) {
  div.detalleproducto {
    padding: 0px 40px;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/