* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; /*( Luca S, cambié tipografía a Roboto )*/
  margin: 0%;
}

/*Mariano*! padding para todos los h*/
h1 {
  font-size: 1.5rem;
}

h2,
h3,
h4 {
  color: #4dbbd4;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}

h1.titulosforms {
  background-color: #cbcbcb;
  border-radius: 0 20px 20px 0px;
  box-shadow: 1px 3px 8px grey;
  color: #828282;
  font-size: 15px;
  font-style: italic;
  margin-top: 40px;
  padding: 5px 0 5px 20px;
  width: 140px;
}

h1.titulosforms span {
  color: #ffffff;
  padding-top: 5px;
}

h2.forms {
  text-align: center;
  margin: 40px 0px -22px 0;
  padding: 10px;
}

h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  height: 40px;
  margin: 5px;
  padding: 8px;
  width: 210px;
}

.mainIndex {
  background-image: url(../img/fondo/fondogris.webp);
  background-repeat: repeat;
}

main {
  background-color: #ffffff;
}

/*------Clases del Header-----------*/

header {
  background-color: #4dbbd4;
  position: sticky;
  top: 0;
  width: 100vw;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.topHeader {
  display: none;
}

.topHeader div i.fa-truck-fast,
div i.fa-envelope,
div i,
fa-phone {
  color: white;
  font-size: 14px;
}

.topHeader p  {
  color: transparent;
  display: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5%;
}

.centerHeader {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 30px;
}

/*.centerHeader .logo {
  
}*/

.centerHeader div#menu i {
  /*menu hamburguesa*/
  padding: 7px;
  background-color: rgb(34 109 175);
  border-radius: 7px;
  align-items: center;
  display: block;
  justify-content: center;
}

.centerHeader div#usuario {
  align-items: center;
  display: flex;
  margin: 0 1px 3px 0px;
  justify-content: space-around;
}

.centerHeader div#usuario a {
  margin: 0 5px;
}

.centerHeader img {
 width: 46vw;
}

.bottomHeader button {
  background-color: rgb(34 109 175);
  border: none;
  border-radius: 0px 19px 19px 0px;
  font-size: 17px;
  position: relative;
  padding: 0px 18px;
  right: 18px;
}

.bottomHeader form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 13px;
}

.bottomHeader form input {
  border-radius: 24px;
  border: 0px;
  color: black;
  height: 37px;
  width: 72vw;
}

.bottomHeader form input::placeholder {
  padding-left: 10px;
}

.centerHeader div a i.fa-user {
    color: #4dbbd4;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 2px 0px 0px white;
    font-size: 14px;
    padding: 6px;
}

.centerHeader div a span:last-child {
  display: none;
}

.centerHeader div i.fa-cart-shopping {
  color: #4dbbd4;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 49%;
  box-shadow: 2px 0px 0px white;
  font-size: 14px;
  padding: 7px;
}

.centerHeader div i.fa-cart-shopping:hover,
div a i.fa-user:hover {
  font-size: 1.5rem;
}

.bottomHeader ul {
  display: none;
}

.fa-magnifying-glass:before,
.fa-search:before {
  color: white;
  content: "\f002";
}

/* seccion principal */

.carrusel {
  background-image: url(../img/banner-promo4.png);
  display: flex;
  height: 200px;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.carrusel h2 {
  color: black;
}

/* -- IMAGENES DE CATEGORIAS DE PRODUCTOS HOME --*/

.categoryimages {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.categoryimages img {
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  margin: 5px;
  width: 90%;
  height:auto;
}

div div.homeagregaralcarrito button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 43px;
  margin: 10px 0;
  width: 60%;
}

.productosDestacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2.productosDestacados {
  background-color: #fdcd10;
  border-radius: 0px 10px 10px 0px;
  color: black;
  font-size: 16px;
  justify-content: left;
  margin-bottom: 20px;
  padding: 7px;
}

.productos {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  width: 70%;
}

.productos h3 {
  color: black;
}

.productos img {
  width: 100%;
}

.productos p {
  color: black;
}

p.precioshome {
  color: #666666;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

/* ------- footer -----------*/
/* ---- Luca Spiritini, Miguel Caputo ---- */

.footer {
  width: 100%;
  background-color: #8c52ff;
}
.footer .grupo-1 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
}
.footer .grupo-1 .box figure {
  width: 180px;
  justify-content: center;
}
.footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 25px;
  color: #fff;
  margin-right: 10px;
  background-color: #44d1f1;
  text-align: center;
}
.footer .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .grupo-2 small {
  font-size: 15px;
}

/*-------login and register------*/

.formloginandregister {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  margin: 40px 0;
  flex-direction: column;
}

.formloginandregister input {
  background-color: #8c52ff;
  border: 0px solid;
  border-radius: 15px;
  margin: 8px 0px;
  min-width: 266px;
  max-width: 530px;
  padding: 12px;
  width: 84vw;
}

.formloginandregister input::placeholder {
  color: #ffffff;
  padding: 5px;
}

.formloginandregister button {
  background-color: #4dbbd4;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding: 11px 5px;
  margin: 15px 10px 20px 10px;
  width: 80px;
}

.formloginandregister button:hover {
  background-color: rgb(111, 11, 204);
  border: none;
  color: white;
  font-weight: 900;
}

.linkto {
  align-items: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
  width: 200px;
}

.linkto a {
  align-items: center;
  font-size: 15px;
  padding-top: 10px;
  text-decoration: none;
}

/*--- Seccion detalle producto-- */

article.resumenproducto div:not(div.ordencarrito, div.cantidaddeproducto, div.agregaralcarrito) {
  border-bottom: 1px solid rgb(158, 158, 158);
  border-top: 1px solid rgb(158, 158, 158);
}

div.agregaralcarrito {
    padding: 5px;
    width: 70%;
    margin: 0 5%;
}

div.cantidaddeproducto {
  display: flex;
  justify-content: center;
  margin: 0px 5%;
}

div.cantidaddeproducto input {
  background-color: #fcfcfc;
  border-width: 1px;
  border-color: transparent;
  border-image: initial;
  box-shadow: 1px 3px 2px  grey;
  font-size: 19px;
  font-weight: 700;
  height: 34px;
  padding: 0px 5px;
  text-align: center;
  width: 35px;
}

div.cantidaddeproducto input::placeholder {
  color: rgb(92, 75, 217);
}

div form input.sumaryrestarproductoplus {
    background-color: rgb(255 203 65);
    border-radius: 2px 14px 14px 1px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    height: 34px;
    padding: 6px 12px 9px;
}

div form input.sumaryrestarproductominus {
  background-color: rgb(255 203 65);
  border-radius: 14px 2px 2px 14px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  height: 34px;
  padding: 6px 12px 9px;
}

div.pesoproducto {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  text-align: left;
}

div.pesoproducto p {
  align-items: left;
}

div a.botonpesoproducto {
  background-color: #c36cac;
  border-radius: 20px;
  border: 1px solid #c36cac;
  box-shadow: 3px 1px 6px #000000;
  color: #ffffff;
  font-size: 14px;
  margin: 0px 5px 0px 10px;
  padding: 4px;
  text-decoration: none;
}

div a.botonpesoproducto:hover {
  background-color: rgb(84, 108, 247);
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
  min-width: 140x;
  max-width: 288px;
  width: 100%;
}

div.ordencarrito {
  align-items: center;
  display: flex;
}

div.precioystock {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

div span.precio {
    color: #c36cac;
    font-size: 1.5rem !important;
    font-weight: bold;
    text-align: left;
    width: 80%;
}

div p.stock {
  display: inline-block;
  width: 50%;
}

h2.titulodescripcionproducto {
  margin: 0 0 10px 0;
  padding: 0;
}

main article.imagenproducto img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 25px;
}

main article.resumenproducto {
  padding: 13px;
  width: 100%;
}

main h1.tituloresumenproducto {
  color: #666666;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.5rem;
}

main div.descripcionproducto {
  padding: 40px 0px;
  width: 100%;
}

main article.detalleproductos {
  display: flex;
  flex-wrap: wrap;
}

div.editiondetailbuttons {
  display: flex;
  padding: 10px;
}

div.editiondetailbuttons button {
  background-color: #4dbbd4;
  border: 0;
  border-radius: 5px;
  margin: 5px 5px 0px 0px;
  padding: 5px;
}

/*!Mariano: carrito de compras*/

div.carritodecompras {
  width: 100%;
  margin: 30px 10px;
  margin-bottom: 10vh;
}

div.carritodetalleproducto {
  border-right: 1px solid rgb(228, 228, 228);
  width: 100%;
}

div form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

div.proceder-checkout {
  background-color: #4dbbd4;
  border-radius: 5px;
  left: 10%;
  padding: 10px;
  position: relative;
  text-align: center;
}

div.proceder-checkout a {
  color: white;
  text-decoration: none;
}

div.totaldelcarrito {
  width: 100%;
}

div.totaldelcarrito td {
  border-bottom: 1px solid #ececec;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
}

div.totaldelcarrito tr {
  border-bottom: 1px solid grey;
}
table.totaldelcarrito {
  width: 100%;
}
table th {
  align-items: center;
  background-color: #ffffff;
  border-bottom: #4dbbd4 1px solid;
}
table th:not(.center) {
  text-align: left;
}
table td {
  align-items: center;
  text-align: center;
}
table td.center {
  text-align: center;
}
th.cantidaddeproducto {
  text-align: center;
}
table tr.headcarrito > :first-child {
  padding: 0 0 5px 20px;
}
table tr.headcarrito > :second-child,
tr.headcarrito > :third-child,
tr.headcarrito > :fourth-child {
  text-align: center;
}
table.tablacarritodetalleproducto {
  width: 95%;
}
td.imgcarritoproducto {
  display: flex;
}

/*!Mariano: alta, baja y modificacion producto*/
form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}
form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
form div.formimagenabmproducto input {
  margin: 0;
  padding: 0;
}
form div.formimagenabmproducto img {
  max-width: 438px;
  min-width: 200px;
  width: 100%;
}
form div.detailformabmproducto div {
  margin: 10px 0;
  width: 100%;
}
div.detailformabmproducto input,
div.detailformabmproducto select,
div.detailformabmproducto textarea {
  background-color: #8c52ff;
  border: 0px solid;
  border-radius: 15px;
  color: white;
  margin: 8px 0px;
  min-width: 266px;
  max-width: 530px;
  padding: 12px;
  width: 84vw;
}
form div input::placeholder,
div textarea::placeholder {
  color: #ffffff;
}
form div select {
  display: block;
}
form div.formbuttonsabmproducto {
  display: flex;
  flex-wrap: wrap;
}
form div.formbuttonsabmproducto div {
  width: 100%;
}
form div.buttonabmproducto input {
  background-color: #4dbbd4;
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

@media (min-width: 481px) {
  .centerHeader div#usuario {
    margin: 0 -20px 3px 0px;
  }

  .centerHeader div#usuario a {
    padding-right: 10px;
  }

  .centerHeader {
    display: flex;
  }

  .productos {
    width: 45%;
  }

  div.ordencarrito {
    margin: 4% 0%;
  }

  main h1.tituloresumenproducto {
    font-size: 1.7rem;
  }

  div a.botonpesoproducto {
    padding: 5px;
  }

  /*<-- login -->*/

  h1.titulosforms {
    background-color: #cbcbcb;
    border-radius: 0 20px 20px 0px;
    box-shadow: 1px 3px 8px grey;
    color: #828282;
    font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-style: italic;
    margin-top: 40px;
    padding: 5px 0 5px 20px;
    width: 160px;
  }

  .linkto {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    width: 400px;
  }
}

@media (min-width: 769px) {

  .centerHeader .logo {
    left: 0;
    width: 100%;
  }

  .bottomHeader ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .centerHeader div#menu i {
    /*menu hamburguesa*/
    display: none;
  }

  .productos {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(226, 226, 226));;
    width: 23%;
  }

  .productos:hover {
    box-shadow: 0 0 15px purple;
    transition: all 500ms;
  }

  div div.homeagregaralcarrito button.botonagregaralcarrito:hover {
    border-radius: 5px;
    transition: all 800ms;
  }

  main article.imagenproducto {
    width: 40%;
  }

  main article.resumenproducto {
    padding: 25px 25px;
    width: 50%;
  }
  main h1.tituloresumenproducto {
    font-size: 2rem;
  }

  /*----    Header    ----*/

  .topHeader {
    background-color: #226daf;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 41px;
    padding: 8px;
    margin-bottom: 41px;
    color: white;
    font-size: 14px;
  }

  .topHeader p  {
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5%;
  }
  
  .topHeader div {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    padding-top: 7px;
    width: 30%;
  }

  .centerHeader {
    padding: 0px 30px 29px 0px;
  }

  .centerHeader img {
    margin-left: 20px;
    max-width: 185px;
  }

  .centerHeader input {
    width: 200px;
  }

  .centerHeader button:hover {
    cursor: pointer;
    font-size: 18px;
  }

  .centerHeader div#usuario {
    min-width: 200px;
  }

  .centerHeader div a i.fa-user {
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 7px;
  }

  .centerHeader div a span:first-child {
    display: inline-block;
    left: 47px;
    position: relative;
    width: 120px;
    z-index: 10;
  }

  .centerHeader div i.fa-cart-shopping {
    font-size: 21px;
    position: relative;
    top: 6px;
  }

  .bottomHeader {
    background-color: #ffcb41;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    position: relative;
  }

  .bottomHeader form {
    display: flex;
    justify-content: center;
    width: 47%;
    position: absolute;
    top: -74px;
    left: 28vw;
}

  .bottomHeader li {
    color: white;
    display: inline-flex;
    font-weight: bold;
    padding: 0.5%;
  }

  .bottomHeader li:hover {
    background-color: rgb(102, 186, 251);
    transition: all 500ms;
  }

  .bottomHeader li a {
    color: #0b5591;
    text-decoration: none;
  }

  form div.mainformabmproducto {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
  }

  form div.formbuttonsabmproducto div {
    width: 30%;
  }

  /* ---- Luca Spiritini, Miguel Caputo ---- */

  .footer .grupo-1 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .footer .grupo-1 .red-social a {
    transition: all 500ms ease;
  }
  .footer .grupo-1 .red-social a:hover {
    color: purple;
    border-radius: 5px;
  }
  .footer .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }

  
/* -- IMAGENES DE CATEGORIAS DE PRODUCTOS HOME --*/

.categoryimages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.categoryimages img {
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  margin: 5px;
  width: 90%;
  height:auto;
}

/* ICONO DE LOGIN Y CARRITO CON ANIMACION*/
.centerHeader div a i.fa-user {
  display: inline-block;
  border-radius: 50px;
  padding: 7px;
  position: relative;
  transition: transform 0.3s;
  top: 15px;
  right: 50px;
  width: 35px;
  z-index: 10;
}

.centerHeader div a span:last-child {
  align-items: center;
  bottom: 0;
  border-radius: 20px;
  color: transparent;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: 25px;
  overflow: hidden;
  transition: width 0.3s, color 0.3s, border 0.3s;
  width: 10px;
}

.centerHeader div a span i:hover {
  animation: rotation 0.4s linear;
}

.centerHeader div a:hover span:last-child {
  background-color: rgb(34 109 175);
  border: 2px 2px 2px 2px solid white;
  color: white;
  height: 30px;  
  width: 100px;
}
}

@media (min-width: 1018px) {
  /*Mariano carrito*/

  .centerHeader img {
    max-width: 225px;
   }

  div.carritodecompras {
    width: 97%;
  }
  div.carritodetalleproducto {
    border-right: 1px solid rgb(228, 228, 228);
    width: 60%;
  }
  div.totaldelcarrito {
    margin-left: 27px;
    width: 37%;
  }
}

@media (min-width: 1300px) {
  /*Carrito*/
  div.detalleproducto {
    padding: 0px 40px;
  }

  div.carritodecompras {
    width: 100%;
  }

  div.carritodetalleproducto {
    width: 61%;
  }

  div.totaldelcarrito {
    width: 34%;
  }

  /*Header*/
  .centerHeader input {
    width: 550px;
  }

/* SI EL USUARIO ENTRA EN SESSION EL USER IN SESSION APLICA ESTO
div#usuario {
  display: none;
}

div.UserinSessionheader {
  display: none;
  left: 47px;
  transition: transform 0.3s;
  position: relative;
  width: 120px;
  z-index: 10;
}

.UserinSessionheader a span:last-child {
  align-items: center;
  bottom: 0;
  border-radius: 20px;
  color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 55px;
  top: 0;
  right: 0;
  transition: width 0.3s, color 0.3s, border 0.3s;
  width: 1px;
}*/

  .centerHeader div i.fa-cart-shopping {
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 7px;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
