* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*Mariano*! padding para todos los h*/
h1 {
  font-size: 1.5rem;
}

h2, h3, h4 {
  margin: 20px;
  font-size: 1.3rem;
  padding: 10px;
  color: purple;
  font-weight: bold;
  font-style: italic;
}

header {
  width: 100vw;
  background-color: #8c52ff;
  ;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: #ffffff;
}

/*------Clases del Header-----------*/
.topHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
}

.topHeader div {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.topHeader p {
  margin-left: 4%;
}

.centerHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
  height: 51px;
}

.centerHeader div#menu {
  width: 10%;
  margin: auto;
}

.centerHeader div#menu i {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.centerHeader div#logo {
  width: 30%;
  display: flex;
  justify-content: center;
}

.centerHeader div#usuario {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centerHeader img {
 width: 520px;
 height: 250px;
 max-width: 100%;
 max-height: 100%;
}

.bottomHeader {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5%;
  margin-top: 5px;
  background-color: #4dbbd4;
}

.bottomHeader form {
  display: flex;
  width: 70%;
  margin: auto;
  padding-bottom: 1%;
}

.bottomHeader button {
  background-color: rgb(141, 74, 204);
  border: none;
}

.bottomHeader button :hover {
  cursor: pointer;
}

.bottomHeader form input {
  width: 90%;
  border-radius: 10px;
  color: black;
}

.bottomHeader ul {
  display: none;
  list-style: none;
}

.bottomHeader li {
  display: inline-flex;
  font-weight: bold;
  padding: 0.5%;
  color: white;
}

.fa-magnifying-glass:before,
.fa-search:before {
  color: white;
  content: "\f002";
}

/*---------------------*/

/* seccion principal */
.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  margin: 10px;
  height: 40vh;
  border: solid black 2px;
}

.carrusel h2 {
  color: black;
}

.productosDestacados {
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

h2.productosDestacados {
  font-size: 16px;
  justify-content: left;
  padding: 5px;
  color: black;
  margin-bottom: 20px;
}

.productos {
  width: 70%;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 20px;
}

.productos h3 {
  color: black;
}

.productos img {
  width: 100%;
}

.productos p {
  color: black;
}

/* footer*/
footer {
  background-color: #4dbbd4;
  margin: 10px;
  text-align: center;
}

footer img {
  width: 40%;
}

footer li {
  color: white;
  list-style: none;
}

.register {
  background-color: #ebebeb;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.register h2 {
  color: black;
}

.register div {
  margin-top: 5px;
}

.register input {
  color: rgb(111, 11, 204);
  width: 50vw;
}

.register button {
  color: rgb(111, 11, 204);
  font-weight: 900;
  transition: 650ms;
}

.register button:hover {
  background-color: rgb(111, 11, 204);
  color: white;
  font-weight: 900;
  border: none;
}

.linkto {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  font-size: 12px;
}

.linkto a {
  margin-right: 15px;
  text-decoration: none;
}

/*!Mariano
Seccion detalle producto */

div form button.sumaryrestarproducto {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(130, 130, 130);
  border-radius: 10px;
}

div.agregaralcarrito {
  padding: 5px;
  width: 50%;
}

div.cantidaddeproducto {
  display: flex;
  margin-right: 1em;
}

div.pesoproducto {
  display: flex;
  text-align: left;
  padding: 20px 0px;
}

div a.botonpesoproducto {
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  margin: 0px 36px 0px 0px;
  padding: 10px;
}


div a.botonpesoproducto:hover {
  background-color: rgb(84, 108, 247);
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
  width: 180px;
}

div.ordencarrito {
  display: flex;
  align-items: center;
}

div.precioystock {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

div p.precio {
  width: 50%;
}

div p.stock {
  width: 50%;
  display: inline-block;
}

div input.inputcantidaddeproducto {
  width: 43px;
  height: 43px;
  text-align: center;
  border-radius: 10px;
}

h2.titulodescripcionproducto {
  margin: 0 0 10px 0;
  padding: 0;
}

main article.imagenproducto img {
  height: auto;
  max-width: 100%;
  display: block;
  padding: 25px;
}

main article.resumenproducto {
  padding: 25px;
  width: 100%;
}

main h1.tituloresumenproducto {
  color: #666666;
  padding: 5px;
}

main div.descripcionproducto {
  padding: 25px;
  width: 100%;
}

main article.detalleproductos {
  display: flex;
  flex-wrap: wrap;
}

/*!Mariano: carrito de compras*/
table {
  width: 100%;
}

table tr.headcarrito {
  background-color: #e0dcdc;
}

table th, table td {
  text-align: center;
  align-items: center;
}

td.imgcarritoproducto {
  display: flex;
  justify-content: center;
}

/*!Mariano: alta, baja y modificacion producto*/

h1 {
  color: #4dbbd4;
}

form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

form div.formimagenabmproducto input {
  margin: 0;
  padding: 0;
}

form div.formimagenabmproducto img {
  width: 100%;
  max-width: 438px;
  min-width: 200px;
}

form div.detailformabmproducto div {
  margin: 10px 0;
  width: 100%;
}

div.detailformabmproducto input, div.detailformabmproducto select, div.detailformabmproducto textarea {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(217, 217, 217);
}

form div input::placeholder, div textarea::placeholder {
  color:#121212;
}

form div select {
  display: block;
}

form div.formbuttonsabmproducto {
  display: flex;
  flex-wrap: wrap;
}

form div.formbuttonsabmproducto div {
  width: 100%;
}

form div.buttonabmproducto input {
  background-color: #8c52ff;
}

@media (min-width: 481px) {
  .bottomHeader ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .centerHeader #menu {
    display: none;
  }

  .productos {
    width: 40%;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

@media (min-width: 769px) {
  .productos {
    width: 21%;
  }

  /*Mariano*/
  main article.imagenproducto {
    width: 40%;
  }

  /*Mariano*/
  main article.resumenproducto {
    padding: 25px 25px;
    width: 50%;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

form div.formbuttonsabmproducto div {
  width: 30% ;
}

@media (min-width: 1300px) {
  div.detalleproducto {
    padding: 0px 40px;
  }
}

/*!Mariano: alta, baja ymodificacion producto*/
