* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}

/*Mariano*! padding para todos los h*/
h1 {
  font-size: 1.5rem;
}

h2, h3, h4 {
  color: purple;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}


h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  height: 40px;
  margin: 5px;
  padding: 8px;
  width: 210px;
}

header {
  background-color: #8c52ff;
  width: 100vw;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: #ffffff;
}

/*------Clases del Header-----------*/

.topHeader {
  background-color: #7a7ae6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}

.topHeader  {
  color: white;
  font-size: 14px;
}

.topHeader div {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    width: 32%;
}

.topHeader div i.fa-truck-fast, div i.fa-envelope, div i,fa-phone {
  color: white;
  font-size: 14px;
}

.topHeader p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4%;
}

.centerHeader {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.centerHeader div#menu {
  margin: auto;
  width: 10%;
}

.centerHeader div#menu i {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.centerHeader div#logo {
  display: flex;
  justify-content: center;
  width: 22%;
}

.centerHeader div#usuario {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 18%;
    padding: 0 19px 0px 5px;
}

.centerHeader img {
  max-height: 100%;
  max-width: 100%;
  padding-right: 30px;
}

.centerHeader button {
  background-color: rgb(34 109 175);
  border: none;
  border-radius: 0px 19px 19px 0px;
  font-size: 17px;
  position: relative;
  padding: 0px 18px;
  right: 18px;
}

.centerHeader button:hover { /* ¿Acá no sería así? --->  .bottomHeader button:hover {}  Luca S. */
  cursor: pointer;
  font-size: 22px;
}

.centerHeader form {
  display: flex;
  margin: auto;
  width: 59%;
}

.centerHeader form input {
  border-radius: 24px;
  border: 1px solid #8c52ff;
  color: black;
  height: 42px;
  width: 90%;
}

.centerHeader form input:hover {
  border: 1px solid #44d1f1;
}

.centerHeader form input::placeholder {
  padding-left: 10px;
}

.centerHeader div a i.fa-user {
    background-color: #4dbbd4;
    border: 1px solid white;
    border-radius: 22%;
    box-shadow: 3px 0px 0px white;
    font-size: 1rem;
    margin: 0px 7px 0px 0px;
    padding: 5px;    
}

.centerHeader div a span:last-child {
  display: none;
}

.centerHeader div i.fa-cart-shopping {
  background-color: #4dbbd4;
  border: 1px solid white;
  border-radius: 22%;
  box-shadow: 2px 2px 0px white;
  font-size: 1rem;
  padding: 5px;
}

.centerHeader div i.fa-cart-shopping:hover, div a i.fa-user:hover {
  font-size: 1.5rem;
}

.bottomHeader {
  background-color: #4dbbd4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  position: relative;
}

.bottomHeader ul {
  display: none;
  list-style: none;
}

.bottomHeader li {
  color: white;
  display: inline-flex;
  font-weight: bold;
  padding: 0.5%;
}

.bottomHeader li:hover {
  background-color: rgb(201, 40, 255);
}

.fa-magnifying-glass:before,
.fa-search:before {
  color: white;
  content: "\f002";
}

/*---------------------*/

/* seccion principal */

.carrusel {
    background-image: url(../img/banner-gato.png);
    display: flex;
    height: 200px;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.carrusel h2 {
  color: black;
}

div div.homeagregaralcarrito button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 43px;
  margin: 10px 0;
  width: 60%;
}

.productosDestacados {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2.productosDestacados {
  color: black;
  font-size: 16px;
  justify-content: left;
  margin-bottom: 20px;
  padding: 5px;
}

.productos {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  width: 70%;
}

.productos h3 {
  color: black;
}

.productos img {
  width: 100%;
}

.productos p {
  color: black;
}

p.precioshome {
  padding: 10px;
  font-size: 20px;
  color: #666666;
  font-weight: bold;
}


/* ------- footer -----------*/

footer {
  background-color: #4dbbd4;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

footer ul {
  padding: 0%;
}

footer .logofooter {
  width:10%;
  padding: 20px;
  margin: auto;
  min-width: 200px;
}

footer img {
  max-width: 100%;
}

footer div li {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0px;
}


footer a {
  text-decoration: none;
}

footer li p{
  margin: 0%;
  padding: 5px;
  text-align: center;
}

.iconos-pago {
  color:black;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-top: 30px;
}

.iconos-redes {
  color:black;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

#whatsapp {
  background-color: green;
  border-radius: 100%;
  color:white;
  font-size: 3rem;
  padding: 7px;
}

#facebook {
  background-color: rgb(53, 53, 255);
  border-radius: 20%;
  color:white;
  font-size: 1.8rem;
  height: 30px;
  padding: 5px;
  width: 30px;
}

#instagram {
  background-color: rgb(111, 11, 204);
  border-radius: 20%;
  color:white;
  font-size: 1.8rem;
  height: 30px;
  padding: 5px;
  width: 30px;
}


/*-------register-------*/

.register {
  background-color: #ebebeb;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.register h2 {
  color: black;
}

.register div {
  margin-top: 5px;
}

.register input {
  color: rgb(111, 11, 204);
  width: 50vw;
}

.register button {
  color: rgb(111, 11, 204);
  font-weight: 900;
  transition: 650ms;
}

.register button:hover {
  background-color: rgb(111, 11, 204);
  border: none;
  color: white;
  font-weight: 900;
}

.linkto {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  max-width: 400px;
}

.linkto a {
  margin-right: 15px;
  text-decoration: none;
}

/*!Mariano
Seccion detalle producto */


div.agregaralcarrito {
    padding: 5px;
    width: 50%;
}

div.cantidaddeproducto {
    display: flex;
    justify-content: center;
    margin-right: 17px;
}

div.cantidaddeproducto input {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(107 102 102);
    border-image: initial;
    height: 41px;
    padding: 0px 5px;
    text-align: center;
    width: 35px;
}

div form input.sumaryrestarproductoplus {
    background-color: rgb(204, 204, 220);
    border-color: rgb(107 102 102);
    border-radius: 2px 14px 14px 1px;
    color: #7a7ae6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    height: 41px
    padding: 6px 12px 9px;
}

div form input.sumaryrestarproductominus {
    background-color: rgb(204, 204, 220);
    border-color: rgb(107 102 102);
    border-radius: 14px 2px 2px 14px;
    color: #7a7ae6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    height: 41px;
    padding: 6px 12px 9px;
}

div.pesoproducto {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  text-align: left;
}

div a.botonpesoproducto {
  background-color: #c36cac;
  border-radius: 20px;
  border: 1px solid #c36cac;
  box-shadow: 3px 1px 6px #000000;
  color: #ffffff;
  margin: 0px 36px 0px 0px;
  padding: 10px;
  text-decoration: none;
}

div a.botonpesoproducto:hover {
  background-color: rgb(84, 108, 247);
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
  width: 180px;
}

div.ordencarrito {
  align-items: center;
  display: flex;
  justify-content: center;
}

div.precioystock {
  display: flex;
  padding: 5px;
}

div span.precio {
    color: #c36cac;
    font-size: 1.5rem !important;
    font-weight: bold;
    text-align: left;
    width: 50%;
}

div p.stock {
  display: inline-block;
  width: 50%;  
}

h2.titulodescripcionproducto {
  margin: 0 0 10px 0;
  padding: 0;
}

main article.imagenproducto img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 25px;
}

main article.resumenproducto {
  padding: 25px;
  width: 100%;
}

main h1.tituloresumenproducto {
  color: #666666;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.5rem;
}

main div.descripcionproducto {
  padding: 25px;
  width: 100%;
}

main article.detalleproductos {
  display: flex;
  flex-wrap: wrap;
}

/*!Mariano: carrito de compras*/

table {
  width: 100%;
}

table tr.headcarrito {
  background-color: #e0dcdc;
}

table th, table td {
  align-items: center;
  text-align: center;
}

td.imgcarritoproducto {
  display: flex;
  justify-content: center;
}

/*!Mariano: alta, baja y modificacion producto*/

h1 {
  color: #4dbbd4;
}

form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

form div.formimagenabmproducto input {
  margin: 0;
  padding: 0;
}

form div.formimagenabmproducto img {
  max-width: 438px;
  min-width: 200px;
  width: 100%;
}

form div.detailformabmproducto div {
  margin: 10px 0;
  width: 100%;
}

div.detailformabmproducto input, div.detailformabmproducto select, div.detailformabmproducto textarea {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(217, 217, 217);
  padding: 5px 5px;
  text-align: center;
  width: 100%;
}

form div input::placeholder, div textarea::placeholder {
  color:#121212;
}

form div select {
  display: block;
}

form div.formbuttonsabmproducto {
  display: flex;
  flex-wrap: wrap;
}

form div.formbuttonsabmproducto div {
  width: 100%;
}

form div.buttonabmproducto input {
  background-color: #8c52ff;
}

@media (min-width: 481px) {
  .bottomHeader ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .centerHeader #menu {
    display: none;
  }

  .productos {
    width: 40%;
  }

  div.cantidaddeproducto {
    margin-right: 35px;
}

div.ordencarrito {
  margin: 4% 0%;
}

main h1.tituloresumenproducto {
  font-size: 1.7rem;
}
}

/*!Mariano: alta, baja ymodificacion producto*/
form div.formimagenabmproducto {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

@media (min-width: 769px) {
  .productos {
    width: 21%;
  }

  /*Mariano*/
  main article.imagenproducto {
    width: 40%;
  }

  /*Mariano*/
  main article.resumenproducto {
    padding: 25px 25px;
    width: 50%;
  }

  div.cantidaddeproducto {
    margin-right: 50px;
}

main h1.tituloresumenproducto {
  font-size: 2rem;
}

.centerHeader form {
  max-width: 476px;
}

.centerHeader div#usuario {
  min-width: 357px;
}

.centerHeader div a {
  display: block;
  width: 60%;
  position: relative;
  overflow: hidden;
}

.centerHeader div a i.fa-user {
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 7px; 
}

.centerHeader div a span:first-child {
  display: inline-block;
  left: 47px;
  position: relative;
  width: 120px;
  z-index: 10;
}

form div.mainformabmproducto {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

form div.formbuttonsabmproducto div {
  width: 30% ;
}
}

@media (min-width: 1300px) {

  div.detalleproducto {
    padding: 0px 40px;
  }

  .centerHeader form {
    width: 60%;
    max-width: 60%;
  }

.centerHeader div#usuario {
  width: 30%;
}
  
.centerHeader div a {
    display: block;
    width: 60%;
    position: relative;
    overflow: hidden;
}

.centerHeader div a i.fa-user {
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 7px; 
}

.centerHeader div a span:first-child {
    display: inline-block;
    left: 47px;
    transition: transform 0.3s;
    position: relative;
    width: 120px;
    z-index: 10;
  }

.centerHeader div a span:last-child {
  align-items: center;
  bottom: 0;
  border-radius: 20px;
  color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 55px;
  top: 0;
  right: 0;
  transition: width 0.3s, color 0.3s, border 0.3s;  
  width: 1px;
}

.centerHeader div a span i:hover {
  animation: rotation 0.4s linear;
}

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(130deg);
    }
  }
 
.centerHeader div a:hover span:last-child {
  background-color: #4dbbd4;
  border: 1px 1px 1px 0px solid white;
  color: white;
  width: 180px;
}

.centerHeader div i.fa-cart-shopping {
    font-size: 1.5rem;
    padding: 7px;
}
}

/*!Mariano: alta, baja ymodificacion producto*/