<header class="mainHeader">
  <div class="topHeader">
    <div class="telefono">
      <i class="fa-solid fa-phone"></i>
      <p>+54 9 11 7564-9278</p>
    </div>

    <div class="envios">
      <i class="fa-solid fa-truck-fast"></i>
      <p><a>Envíos en el día en CABA y GBA</a></p>
    </div>

    <div class="contactanos">
      <i class="fas fa-envelope"></i>
      <p>Contactanos</p>
    </div>
  </div>

  <div class="centerHeader">
    <button class="hamburger">
      <div class="bar"></div>
    </button>

    <nav class="mobile-nav">
      <a href="/products/1">Perros</a>
      <a href="/products/2">Gatos</a>
      <a href="/products/3">Peces</a>
      <a href="/products/4">Aves</a>
      <a href="/products/list">Todos</a>
      <% if(locals.isLogged){ %>
      <a href="/products/abmproduct">Nuevo Producto</a>
      <a href="http://localhost:3001" target="_blank">Admin Panel</a>
      <% } %>
    </nav>

    <div class="logo">
      <a href="/">
        <img src="/img/logo/PAF-logo-2.svg" />
      </a>
    </div>

    <form class="homesearch" action="/search" method="get">
      <input
        class="inputSearchBar"
        id="homesearch"
        type="search"
        name="search"
        placeholder="Buscar productos, marcas y más..."
      />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <div id="usuario">
      <div class="userState">
        <% if(locals.isLogged){ %>
        <span>
          <a href="/users/profile">
            <div
              class="userAvatar"
              style="
                background-image: url(/img/usersAvatar/<%=locals.isLogged?locals.userLogged.avatar:null%>);
              "
            ></div>
          </a>
        </span>
        <p id="userName"><%= locals.isLogged? locals.userLogged.name:'' %></p>
        <div class="logoutItem">
          <a href="/users/logout" id="logout">
            <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
          </a>
        </div>
        <% } else { %>
        <a href="/users/login">
          <span><i class="fa-solid fa-user"></i></span>
        </a>
        <% } %>
      </div>
    </div>

    <div class="carrito">
      <a href="/carrito" id="cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </div>

  <article class="bottomHeader">
    <ul>
      <li><a href="/products/1">Perros</a></li>
      <li><a href="/products/2">Gatos</a></li>
      <li><a href="/products/3">Peces</a></li>
      <li><a href="/products/4">Aves</a></li>

      <% if (locals.isLogged && locals.userLogged.category_id==1 ){ %>
      <li><a href="/products/abmproduct">Agregar Producto</a></li>
      <li><a href="http://localhost:3001" target="_blank">Admin panel</a></li>
      <% } %>
    </ul>
  </article>

  <script src="/js/hamburguerMenu.js"></script>
</header>
