<header class="mainHeader">
  <article class="topHeader">
    <div>
      <i class="fa-solid fa-phone"></i>
      <p>+54 9 11 7564-9278</p>
    </div>

    <div class="envios">
      <i class="fa-solid fa-truck-fast"></i>
      <p><a>Envíos en el día en CABA y GBA</a></p>
    </div>

    <div>
      <i class="fas fa-envelope"></i>
      <p>Contactanos</p>
    </div>
  </article>

  <article class="centerHeader">
    <div id="menu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="logo">
      <a href="/">
        <img src="/img/logo/PAF-logo-2.svg" />
      </a>
    </div>
    <% if(locals.isLogged){ %>
    <div id="usuario">
      <span
        ><a href="/users/profile"
          ><img
            id="avatar"
            src="/img/usersAvatar/<%=locals.isLogged? locals.userLogged.avatar:'default.png' %>  %> "
            alt="img user" /></a
      ></span>
      <p><%= locals.isLogged? locals.userLogged.name:'' %></p>
      <a href="/users/logout">Logout</a>
      <% } else { %>
      <a href="/users/login">
        <span><i class="fa-solid fa-user"></i></span>
        <span>Ingreso</span>
      </a>
      <% } %>
      <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

    <!-- SI EL USUARIO SE LOGUEA Y ESTA EN SESSION ENTONCES SE MUESTRA FIJO EL USER IN SESSION 
    <div class="UserinSessionheader"
      <a href="/profile">
        <span><i class="fa-solid fa-user"></i></span>
        <span>Ingreso</span>
      </a>
    </div>-->
  </article>

  <article class="bottomHeader">
    <form class="homesearch">
      <input type="search" placeholder="Buscar productos, marcas y más..." />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <ul>
      <li><a href="/products/1">Perros</a></li>
      <li><a href="/products/2">Gatos</a></li>
      <li><a href="/products/4">Aves</a></li>
      <li><a href="/products/3">Peces</a></li>
      <li><a href="#">Promociones</a></li>
      <li><a href="#">Sucursales</a></li>
      <li><a href="/products/abmproduct">Agregar Producto</a></li>
    </ul>
  </article>
</header>
