<div class="itemBarContainer">

  <ul>

    <div>
      <li>
        <a href="/products/1" class="dog">
          <i class="fa-solid fa-dog"></i>
        </a>
      </li>
    </div>

    <div>
      <li>
        <a href="/products/2" class="cat">
          <i class="fa-solid fa-cat"></i>
        </a>
      </li>
    </div>

    <div>
      <li>
        <a href="/products/3" class="fish">
          <i class="fa-solid fa-fish"></i>
        </a>
      </li>
    </div>

    <div>
      <li>
        <a href="/products/4" class="kiwiBird">
          <i class="fa-solid fa-kiwi-bird"></i>
        </a>
      </li>
    </div>
    
    <div>
      <li>
        <a href="#" class="location">
          <i class="fa-solid fa-map-location-dot"></i>
        </a>
      </li>
    </div>

    <div>
      <li>
        <a href="#" class="dropdown">
          <i class="fa-solid fa-angle-down"></i>
        </a>
      </li>
    </div>
  </ul>

</div>
