<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <h1 class="titulosforms">ABM Producto</h1>
      <h2 class="forms">AGREGAR, MODIFICAR O ELIMINAR PRODUCTO</h2>

      <form
        class="form"
        action="/products/abmproduct"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mainformabmproducto">
          <div class="formimagenabmproducto">
            <img src="/img/products/alimento-gato-excellent.png" />
            <input
              type="file"
              accept=".jpg,.png,.svg"
              name="image"
              placeholder="imagen del producto"
            />
          </div>

          <div class="detailformabmproducto">
            <div>
              <input
                type="text"
                name="name"
                placeholder="Titulo del producto"
              />
            </div>

            <div>
              <textarea
                name="description"
                placeholder="Describí tu producto"
              ></textarea>
            </div>

            <div>
              <input type="number" name="price" placeholder="Precio" />
            </div>

            <div class="inputselector">
              <select name="packaging" id="peso" required>
                <option value="">Seleccioná el tamaño del producto</option>
                <option value="3 kg">3 kg</option>
                <option value="5 kg">5 kg</option>
                <option value="8 kg">8 kg</option>
              </select>
            </div>

            <div>
              <input type="number" name="stock" placeholder="Stock" />
            </div>
            <div class="inputselector">
              <select name="class" id="categoria" required>
                <option value="">Seleccioná una categoria</option>
                <option value="perros">Perros</option>
                <option value="gatos">Gatos</option>
                <option value="peces">Peces</option>
                <option value="aves">Aves</option>
              </select>
            </div>
            <div class="inputselector">
              <select name="oferta" id="categoria" required>
                <option value="">En Oferta</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>

            <div>
              <input type="number" name="amount" placeholder="Cantidad" />
            </div>

            <div class="formbuttonsabmproducto">
              <div class="buttonabmproducto">
                <input type="submit" value="Agregar producto" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
