<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <hr />
    <main>
     <h1>Carrito de compras</h1>
     <div class="carritodecompras">
         <form>
             <table>
                 <th>
                     Producto
                 </th>
                 <th>
                    Envío
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>
             </table>
         </form>

     </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
