<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <h1>Alta/Baja/Modificación de producto</h1>

      <form class="formabmproducto" action="/abmproducto" method="post">
        <div class="mainformabmproducto">
          <div class="formimagenabmproducto">
            <img src="/img/products/alimento-gato-excellent.png" />
            <input
              type="file"
              accept=".jpg,.png,.svg"
              name="imagen producto"
              placeholder="imagen del producto"
            />
          </div>

          <div class="detailformabmproducto">
            <div>
              <input type="text" placeholder="Titulo del producto" />
            </div>

            <div>
              <textarea
                name="descripcionproducto"
                placeholder="Describí tu producto"
              ></textarea>
            </div>

            <div>
              <input type="number" placeholder="Precio" />
            </div>

            <div class="inputselector">
              <select name="peso" id="peso" required>
                <option value="">Seleccioná el tamaño del producto</option>
                <option value="3kg">3kg</option>
                <option value="5kg">5kg</option>
                <option value="8kg">8kg</option>
              </select>
            </div>

            <div>
              <input type="number" placeholder="Stock" />
            </div>
            <div class="inputselector">
              <select name="categoria" id="categoria" required>
                <option value="">Seleccioná una categoria</option>
                <option value="Perros">Perros</option>
                <option value="Gatos">Gatos</option>
                <option value="Peces">Peces</option>
                <option value="Aves">Aves</option>
              </select>
            </div>

            <div>
              <input type="text" placeholder="Cantidad" />
            </div>

            <div class="formbuttonsabmproducto">
              <div class="buttonabmproducto">
                <input type="submit" value="Agregar producto" />
              </div>
              <div class="buttonabmproducto">
                <input type="submit" value="Modificar producto" />
              </div>
              <div class="buttonabmproducto">
                <input type="submit" value="Eliminar producto" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
