<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/header.ejs')%>
   
        
            <h2>PRODUCTO EDITADO CORRECTAMENTE</h2>

        <a href="/products/<%=section%>">Volver </a>
       
       

  
</div>

<%- include('../partials/footer.ejs')%>
</body>

</html>